<nav class="sticky-top">
    <h1>STADVDB MC01</h1>

<div id="menu-outer">
    <div class="table">
        <ul id="horizontal-list">
            <li><a href = "/"><button class = "navbarbutton" id="navhome">Home</button></a></li>
            <li><a href = "/directors"><button class = "navbarbutton" id="navdirector">Directors</button></a></li>
            <li><a href = "/movies"><button class = "navbarbutton" id="navmovies">Movies</button></a></li>
            <li><a href = "/genres"><button class = "navbarbutton" id="navgenres">Genres</button></a></li>
        </ul>
    </div>
</div>


</nav>
