<meta charset="utf-8">
    <title>TABLES</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

{{>navbar}}
<section>
    <h1>Directors</h1>
    <div class ="container mb-3 mt-3"> 
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Director</th>
                    <th>Movie Count</th>
                    <th>Year</th>
                </tr>
            </thead>
        <tbody>
        {{#each results}}
                                    {{!--  movie_name: 'name', role_cnt: 123--}}
                <tr>
                    <td>{{this.director}}</td>
                    <td>{{this.movie_cnt}}</td>
                    <td>{{this.year}}</td>
                </tr>
        {{/each}}
         </tbody>
        </table>
    </div>
</section>

