<meta charset="utf-8">
    <title>TABLES</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

{{>navbar}}
<section>
    <h1>Genre</h1>
    <div class ="container mb-3 mt-3"> 
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Movie Count</th>
                <th>Genre</th>
            </tr>
        </thead>
          <tbody>
    {{#each results}}
    

      
            <tr>
                <td>{{this.movie_cnt}}</td>
                <td>{{this.genre}}</td>
            </tr>
        
 

    {{/each}}
    </tbody>
    </table>
    </div>
</section>

