<meta charset="utf-8">
    <title>TABLES</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

{{>navbar}}
<section>
    <h1>Movies</h1>
    <div class ="container mb-3 mt-3"> 
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Movie Name</th>
                <th>Role Count </th>
            </tr>
        </thead>
         <tbody>
    {{#each results}}
                                {{!--  movie_name: 'name', role_cnt: 123--}}

       
            <tr>
                <td>{{this.movie_name}}</td>
                <td>{{this.role_cnt}}</td>
            </tr>
     
 

     {{!--   {{this.movie_name}}, {{this.role_cnt}} <br> --}}
    {{/each}}
       </tbody>
    </table>
    </div>
</section>

