{{>navbar}}

<section>
    <h1 style = "padding-left: 700px;">MOVIES QUERY</h1>
    <form style = "display: inline-block; padding-left: 600px;" id = "form" method="get" action="/fetchDirectors">
  <div>
    <label>Movies with the number of actors/actresses</label>
        <select name="numofroleschoice" id="numofroleschoice" >
            <option value = "" selected='true'></option>
            <option value="ATLEAST">ATLEAST</option>
            <option value="EQUAL TO">EQUAL TO</option>
            <option value="MORE THAN">MORE THAN</option>
        </select>
        <input name="numofrolesint" id="numofrolesint" placeholder="No. of Actors">
        <br>
        <br>
        </label>released on</label>
        <select name="releasedonschoice" id="releasedonschoice" >
            <option value = "" selected='true'></option>
            <option value="ATLEAST">ATLEAST</option>
            <option value="EQUAL TO">EQUAL TO</option>
            <option value="MORE THAN">MORE THAN</option>
        </select>
        <input name="releasedonint" id="releasedonint" placeholder="Year">
        <br>
        <br>
        <label>with a genre of</label>
        <input name="genre" id="genre" placeholder="Genre">
        <br>
        <br>


  <!-- Submit button -->
  <input type="submit" id ="formsumbit" class="btn btn-primary btn-block mb-4"></submit>

  </div>
</form>

</section>