


{{>navbar}}

<section>
  <h1 style = "padding-left: 650px;">RANKINGS</h1>
   <br>
   <br>
  <div class ="container mb-3 mt-3"> 
   <a href="/directorsranking"><button class="btn btn-primary btn-block mb-4">Ranking of Directors in terms of Movies Made</button></a>
   <br>
   <br>
   <a href="/moviesranking"><button class="btn btn-primary btn-block mb-4">Ranking of Movies in terms of Movie Ranking</button></a>
   <br>
   <br>
   <a href="/genresranking"><button class="btn btn-primary btn-block mb-4">Ranking of Genre in terms of Average Movie Scores</button></a>



  </div>



</section>